/* Generics */
body {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

img {
    max-width: 100%;
    display: inline-block;
}

ul {
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
}